@import "reset.scss";
@import "header.scss";
@import "landing.scss";
@import "about.scss";
@import "portfolio.scss";
@import "contact.scss";

@font-face {
  font-family: 'titleFont';
  src: url('../adamFont/adamFont.otf/');
}

body, html {
  width:100%;
  height:100%;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
}

footer {
  background: white;
  height: 10%;
  display: flex;
  position: relative;
  .footer-text-one {
    position: absolute;
    top: 30%;
    left: 10%;
  }
}
